@import "bourbon";

.menu {
  @include position(fixed, 0 0 null 0);
  display: flex;
  align-items: center;
  min-height: 58px;
  color: #fff;
  z-index: 30;
  transition: 0.15s background ease-in-out;
  padding: 0.6rem 1.75rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &_item {
      display: flex;
      align-items: center;
      color: #d3d3d3;
      &:first-child {
        flex: 1 1 100%;
      }
    }
  }
  &__language {
    max-width: 40px;
    max-height: 32px;
    height: 100%;
    &_trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  &__search {
    &-wrapper {
      flex: 1 1 100%;
      width: 100%;
      max-width: 550px;
      margin-right: 0.6rem;
    }
  }
  &__transparent {
    background: #232a34;
  }
  &__navigation {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 1.15rem;
    &:hover {
      text-decoration: none;
    }
    &_img {
      border-radius: 2px;
      max-width: 32px;
      max-height: 32px;
      height: 100%;
    }
    &_title {
      padding: 11px 24px;
      color: #d3d3d3;
      line-height: 18px;
      font-size: 14px;
      font-weight: 500;
      &:hover {
        color: #fff;
      }
    }
  }
}
