.photos {
  &__container {
    min-height: 1000px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &__top {
    &-title {
      font-size: 1.5rem;
      margin: 1.5rem 0 1rem;
      font-weight: bold;
    }
  }
  &__masonry {
    &_grid {
      display: flex;
      &-column {
        border-left: 1rem solid transparent;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
