@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./Helvetica Neu Bold.ttf");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./HelveticaNeue.ttf");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("./HelveticaNeue Medium.ttf");
}
