.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  min-height: 58px;
  color: #fff;
  transform: translateZ(0);
  z-index: 30;
  transition: 0.15s background ease-in-out;
  padding: 0.6rem 1.75rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &_item {
      display: flex;
      align-items: center;
      color: #d3d3d3;
      &:first-child {
        flex: 1 1 100%;
      }
    }
  }
  &__search {
    &-wrapper {
      flex: 1 1 100%;
      width: 100%;
      max-width: 550px;
      margin-right: 0.6rem;
    }
  }
  &__transparent {
    background: #232a34;
  }
  &__navigation {
    display: flex;
    align-items: center;
    text-decoration: none;
    &_img {
      border-radius: 2px;
      max-width: 32px;
      max-height: 32px;
      height: 100%;
    }
    &_title {
      padding: 11px 24px;
      color: #fff;
      line-height: 18px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
